{% extends 'base.html.twig' %}

{% block title %}New Agent{% endblock %}

{% block body %}
    <h1>Create new Agent</h1>

    <fieldset>
        <legend>Personalia:</legend>
    <input id="latlon">
    <button onclick="updateLatLon();">Update</button>
    </fieldset>
    {{ include('agent/_form.html.twig') }}

    <a href="{{ path('agent_index') }}" class="btn btn-primary">back to list</a>

    <script>
        function updateLatLon() {
            let latlon = document.getElementById('latlon').value.split(',')

            document.getElementById("agent_lat").value = latlon[0].trim();
            document.getElementById("agent_lon").value = latlon[1].trim();
        }
    </script>
{% endblock %}
