{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - MaxFields{% endblock %}

{% block body %}
    <h3>MaxFields</h3>
    <textarea name="gpx" id="gpx" cols="100" rows="10">{{ maxFields }}</textarea>
{% endblock %}
