{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Map{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/map.css') }}">
{% endblock %}

{% block body %}
    <div id="map"></div>

    <script src="{{ asset('build/map.js') }}"></script>

    <script>
    </script>
{% endblock %}
