{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Map{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/map.css') }}">
{% endblock %}

{% block body %}
    <div id="result">
        <span id="result_message">0</span> waypoints selected&nbsp;
        <button id="result_submit">Export</button>
    </div>
    <div id="map"></div>

    <script src="{{ asset('build/map.js') }}"></script>

    <script>
    </script>
{% endblock %}
