#map {
    margin: 0;
    height: 600px;
    width: 100%;
}

.marker-cluster span {
    color: black;
}

input#intelLink {
    background-color: black;
    color: lime;
    font-family: monospace;
    border: 0;
}
